@import './root.scss';

.head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 20px;
  max-width: 1250px;
  width: 100%;

  &__nav-wrapper {
    display: flex;
  }

  @media screen and (max-width: 660px) {
    padding-right: 20px;
  }
  
  &__button-wrapper {
    display: flex;
  }
  
  
  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    & > a {
      & > svg {
        fill: rgb(160, 163, 158);
        border-radius: 50%;
        border: 2px solid transparent;
        -webkit-transition: border 0.8s;
        transition: border 0.8s;
        
        &:hover {
          border: 2px solid rgb(190, 200, 159);
          cursor: pointer;
        }
      }
    }
  }
  
  &__upper {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }

  &__cart {
    &__wrapper {
      margin-left: 10px;
      padding-top: 12px;
      padding-bottom: 10px;
      padding-left: 14px;
      padding-right: 14px;
      border-radius: 24px;
      -webkit-transition: background 0.8s;
      transition: background 0.8s;
      
      &:hover {
        background-color: $hover-button;
        cursor: pointer;
        color: $dark-green;
      }
    }
    &__img {
      width: 20px;
      height: 20px;
    }
  }

  &__search-wrapper {
    width: 100%;
    height: 34px;
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 34px;
    border: 1.8px solid $dark-green;
    display: flex;
    align-items: center;
    background-color: rgb(244, 247, 243);
    position: relative;
    -webkit-transition: background 0.8s;
    transition: background 0.8s;
    -webkit-transition: border 0.8s;
    transition: border 0.8s;

    & > a {
      right: 0;
      position: absolute;
      position: right 100px;
      z-index: 3;
      display: flex;
      align-items: center;
      & > svg {
        width: 20px;
        height: 20px;
        padding-right: 20px;
        padding-left: 18px;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        background-repeat: no-repeat;
        -webkit-transition: background 0.8s;
        transition: background 0.8s;
        cursor: pointer;
      }
    }

    
    &:focus-within {
      border: 1.8px solid $highlight-green;
      background-color: white;
      -webkit-transition: background 0.8s;
      transition: background 0.8s;

      & > input {
        background-color: white;
        -webkit-transition: background 0.8s;
        transition: background 0.8s;
      }

      & > a {
        & > svg {
          background-color: $hover-button;
        }
      }
    }

    & > input {
      background-color: rgb(244, 247, 243);
      width: 100%;
      border: none;
      margin-left: 15px;
      margin-right: 40px;
      outline: none;
      color: $dark-green;
      font-family: 'Montserrat', sans-serif;
      -webkit-transition: background 0.8s;
      transition: background 0.8s;

      &::placeholder {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: $grey-green;
      }
    }
    

    &:hover {
      border: 1.8px solid $highlight-green;
    }
  }

  &__signin-button, &__logout-button {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 24px;
  color: $dark-green;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  
    &:hover {
      background-color: $hover-button;
      cursor: pointer;
      color: $dark-green;
    }
  }

  &__logo {
    max-width: 160px;
    min-width: 155px;
    width: 100%;
    height: 45px;
    
    @media screen and (max-width: 450px) {
      min-width: 130px;
      height: 35px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__nav-links {
    display: flex;
    justify-content: space-around;
    
    & > a {
      text-decoration: none;
      font-size: 12px;

      &:after {
        content: '';
        display: block;
        transform: scaleX(0);
        margin-bottom: -2px;
        padding-bottom: 16px;
        border-bottom: 2px solid $dark-hover-green;
        transition: 0.2s ease-in-out;
      }
      &:hover:after {
        content: '';
        display: block;
        transform: scaleX(1);
        transition: 0.2s ease-in;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.cart-number-wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 15px;

  & > .empty {
    background-color: transparent;
    width: 10px;
    border: 2px solid transparent;
  }

  & > p {
    font-size: 14px;
    margin-left: -10px;
    margin-bottom: -3px;
    font-weight: 500;
    z-index: 2;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: $light-green;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    border: 2px solid white;
    transition: ease-out 0.40s;
  }
}

.user-buttons {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.side-bar-button {
  margin-left: 30px;
}

.side-bar-but {
  font-size: 18px;
  border: 2px solid rgb(203, 210, 199);
}

.nav-header-buttons {
  margin-bottom: 10px;
}

.user-signin {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .header__nav-links {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .header {
    &__upper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      &__nav-wrapper {
        grid-column-start: 1;
        grid-row-start: 1;
        display: flex;
      }
    }

    &__search-wrapper {
      margin-left: 0px;
      margin-right: 0px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-column: span 2;
      margin-top: 10px;
    }

    &__button-wrapper {
      grid-column-start: 2;
      grid-row-start: 1;
      justify-content: flex-end;
    }
  }
}

.header-side-bar {
  display: none;
  font-size: 40px;
  color: $logo-green;
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 50%;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  
  &:hover {
    cursor: pointer;
    background-color: $hover-button;
  }
  
  @media screen and (max-width: 800px) {
    display: block;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  @media screen and (max-width: 660px) {

  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: $box-shadow;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: $dark-green;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: $logo-green;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn {
  margin-top: 8px;
  font-size: 40px !important;
  padding-top: 6px !important;
  padding-bottom: 5px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
  border-radius: 50%;
  
  &:hover {
    -webkit-transition: background 0.8s;
    transition: background 0.8s;
    background-color: $hover-button;
    color: $dark-green !important;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}