@import './root.scss';

.product-pics {
  width: 100%;
  display: flex;
  align-items: flex-start;

  &__inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &__main-pic-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
    max-width: 600px;
  }

  &__svg-button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: flex;
    box-shadow: $box-shadow;
    justify-content: center;
    align-items: center;
    
    
    & > svg {
      color: $dark-green;
      padding: 5px;
      width: 34px;
      height: 34px;
      -webkit-transition: background 0.8s;
      transition: background 0.8s;
      border-radius: 50%;
      
      &:hover {
        background-color: $hover-button;
        border-radius: 50%;
      }
    }
  }

  &__main-picture-wrapper {
    width: 540px;
    overflow: hidden;
    max-height: 540px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }
  
  &__main-picture {
    height: 540px;
    border-radius: 20px;
    // transform: scale(1.1);
    // transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    // animation-name: fadeIn;
    // animation-duration: 600ms;
  }

  &__small-pics-wrapper {
    max-width: 80px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__small-picture-item {
    border: 1px transparent;
    width: 80px;
    height: 80px;
    padding: 6px;
    overflow: hidden;
  }

  &__small-picture {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    opacity: 70%;
    
    &:hover {
      opacity: 100%;
      cursor: pointer;
      border-radius: 18px;
    }
    
    &::after {
      border: 2px solid $dark-green;
    }
  }

}


#left-svg-button {
  margin-right: 9px;
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
}

#right-svg-button {
  left: 55.9%;
  position: absolute;

  &:hover {
    cursor: pointer;
  }
}

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }