@import './root.scss';

.product-show {
  border-top: 2px solid rgb(182, 189, 158);
  display: flex;
  flex-direction: column;
  padding: 40px 70px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  
  &__inner {
    display: flex;
    gap: 2%;
    max-width: 1250px;
    width: 100%;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__product-info {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
  }

  &__seller-info {
    text-align: end;

    & > p {
      font-size: 14px;
      margin-top: 4px;
    }

    &__shop {
      font-size: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__in-stock {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 20px;
    margin-top: 50px;

    & > p {
      font-size: 14px;
      margin-left: 3px;
    }
  }

  &__low-stock {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 10px;
    margin-top: 50px;
    margin-bottom: 6px;

    & > p {
      font-size: 14px;
      color: $red;
    }
  }

  &__pq-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    & > p {
      font-size: 28px;
      font-weight: 500;
    }
  }

  &__quantity-wrapper {
    display: flex;
    align-items: center;

    & > p {
      font-size: 12px;
      padding-right: 8px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 32px;
    margin-top: 60px;
  }

  &__add-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
  }
  
  &__add-cart {
    // max-width: 470px;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: 500;
    background-color: $dark-green;
    color: white;
    border-radius: 24px;
    &:hover {
      background-color: $dark-hover-green;
      transform: scale(1.02);
      transition: ease-in 0.16s;
    }

    &__out-of-stock {
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 18px;
      font-weight: 500;
      width: 100%;
      background-color: $grey-green;
      color: white;
      border-radius: 24px;
    }
  }

  &__d-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
    & > h4 {
      font-size: 10;
      font-weight: 500;
    }

    & > p {
      white-space: pre-line;
      font-size: 22px;
      margin-top: 15px;
      line-height: 26px;
    }
  }

  &__time {
    padding-top: 40px;
    font-size: 14px;
    color: $grey-green;
    text-align: end;
  }
}

.delete-product-wrapper {
  display: flex;
  justify-content: center;
}

.product-delete {
  margin-top: 40px;
  width: fit-content;
  text-align: center;
}

