@import '../../root.scss';

.profile {
  border-top: 2px solid rgb(182, 189, 158);
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__upper {
    display: flex;
    justify-content: space-between;

    &__left {
      & > h1 {
        font-size: 40px;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 200;
        margin-bottom: 15px;
      }

      & > div {
        display: flex;
        gap: 10px;

        & > p {
          font-size: 14px;
        }
      }
    }

    &__add-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 120px;
      width: 100%;
      gap: 10px;

      & > a {
        text-decoration: none;
        color: white;
        font-size: 60px;
        text-align: center;
        background-color: $logo-green;
        padding: 18px 0px;
        border-radius: 18px;

        &:hover {
          background-color: $dark-hover-green;
          transform: scale(1.02);
          transition: ease-in 0.16s;
        }
      }

      & > h2 {
        font-size: 14px;
        text-align: center;
        font-weight: 500;
      }
    }
  }

  &__lower {
    & > h1 {
      font-size: 14px;
      margin-bottom: 8px;
    }

    & > .upload {
      font-size: 20px;
      font-weight: 400;
      text-decoration: underline dotted;
    }

    & > .shop-name {
      text-decoration: none;
      font-size: 20px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}