
.splash, .welcome {

  &__nav-wrapper, &__nav-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__sign-in-button, &__logout {
    text-decoration: none;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 24px;
    color: black;
    
    &:hover {
      background-color: rgb(230, 230, 230);
      cursor: pointer;
      color: black;
    }
  }
}