@import './root.scss';

.recommended {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;

  & > h1 {
    // margin-left: 52px;
    font-size: 14px;
    font-weight: 500;
  }
  
  &__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  
  &__pic-wrapper {
    text-decoration: none;
    width: 230px;
    height: 155px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    &:hover {
      box-shadow: $box-shadow;
      transition: ease-in 0.16s;
    }
  }
  
  &__pic-link {
    width: 230px;
    height: 230px;
  }
  
  &__price-wrapper {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    margin-left: 10px;
    position: absolute;
    margin-top: -114px;
    padding: 6px;
    border-radius: 18px;
    z-index: 100;
    background-color: rgba(255,255,255, 0.7);
    border: 1px solid rgba(255,255,255, 0.8);
    width: fit-content;
    z-index: 50;
    
    & > p {
      color: $dark-green;
    }
  }
}