$logo-green: rgb(104,132,52);
$light-green: rgb(215, 223, 190);

$grey-green: rgb(96, 103, 94);

$highlight-green: rgb(132, 167, 66);

$red: rgb(218, 79, 29);

$dark-green: rgb(41, 52, 21);
$medium-green: rgb(96, 118, 56);
$dark-hover-green: rgb(63, 79, 33);
$lighter-green: rgb(109, 133, 64);

$border: 1.5px $dark-green solid;
$hover-button: rgb(235, 239, 233);
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

