@import './root.scss';

.small-footer {
  display: flex;
  flex-direction: column;
  
  &__top {
    padding-top: 60px;
    background-color: rgba(252, 193, 203, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > h1 {
      font-size: 18px;
      font-weight: 500;
    }

    & > button {
      color: $dark-green;
      margin-top: 16px;
      text-decoration: none;
      font-weight: 500;
      font-size: 20px;
      border: $border;
      padding: 12px 18px;
      border-radius: 24px;
      
      &:hover {
        box-shadow: $box-shadow;
      }
    }

    &__energy {
      padding: 20px 0px;
      margin-top: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: rgba(252, 193, 203, 0.7);

      & > img {
        width: 30px;
        margin-right: 6px;
      }

      & > h2 {
        font-size: 14px;
        color: $logo-green;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(114, 120, 13, 0.7);

    & > .us-details {
      & > h1, & > h2, & > h3 {
        font-size: 12px;
        color: $hover-button;
      }
      & > h1, & > h2 {
        padding-right: 10px;
        border-right: 2px solid $hover-button;
      }
    }
  }
}