
.splash, .welcome {
  &__message-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  &__message {
    font-size: 32px;
    color: white;
    // color: black;
    margin-top: 30px;
    background-color: rgb(104,132,52);
    // background-color: rgb(255, 239, 176);
    padding-top: 60px;
    padding-bottom: 120px;
    width: 100%;
    text-align: center;
    font-weight: 200;
    font-family: 'Merriweather Sans', sans-serif;
  }
}

