@import './root.scss';

.help-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 10px 0px;
  & > h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 18px;
    
    @media screen and (max-width: 450px) {
      font-size: 20px;
    }
  }

  & > h2 {
    font-size: 18px;
    color: $grey-green;
    margin-bottom: 20px;
    line-height: 22px;
    
    @media screen and (max-width: 450px) {
      font-size: 14px;
    }
  }

  & > a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    
    @media screen and (max-width: 450px) {
    font-size: 14px;
  }

    &:hover {
      text-decoration: underline;
      color: $logo-green;
    }
  }
}