@import './root.scss';

.explore {
  &__wrapper {
    display: flex;
    
    &__welcome-message, &__explore-message {
      font-size: 32px;
      color: $dark-green;
      background-color: $light-green;
      border-top: 2px solid rgb(182, 189, 158);
      padding-top: 60px;
      padding-bottom: 120px;
      width: 100%;
      text-align: center;
      font-weight: 200;
      font-family: 'Merriweather Sans', sans-serif;
    }
  }

  &__circles-wrapper {
    margin-top: -72px;
    display: flex;
    justify-content: space-around;
    
    &__circle-wrapper {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 10px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $lighter-green;
        bottom: 0;
        display: none;
      }

      &:hover {
        &::after {
          display: unset;
        }
      }
      
      &:hover > &__circle {
        cursor: pointer;
        transform: scale(1.1);
        transition: ease-in 0.16s;
      }

      &:hover > h1 {
        color: $lighter-green;
        cursor: pointer;
      }
      
      &__circle {
        max-width: 120px;
        width: 100%;
        border-radius: 50%;
        border: 1px solid rgba(74, 130, 51, 0.15);
      }

      & > h1 {
        color: $dark-green;
        margin-top: 14px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  
}

