@import '../../root.scss';

.splash-houseplants {
  border-top: none;
  padding: 80px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  // &__list-wrapper {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  &__inner {
    max-width: 1250px;
    width: 100%;


    & > a {
      margin-bottom: 10px;
      text-decoration: none;
      display: flex;
      align-items: center;
      width: fit-content;
    
      &:hover {
        cursor: pointer;
    
        & > .houseplant-arrow {
          transition: ease-in 0.40s;
          margin-left: 20px;
        }
      }
    
      & > .houseplant-arrow {
        transition: ease-in 0.40s;
        margin-left: 14px;
      }
    
      & > h2 {
        font-size: 26px;
      }
    }
  }

  &__ul-wrapper {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 20px;
  }

  &__pic-wrapper {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    align-items: center;
    height: 230px;
    overflow: hidden;

    & > img {
      // width: 290px;
      max-width: 290px;
      width: 100%;
      height: 290px;
      object-fit: cover;
    }
    
    &:hover {
      box-shadow: none;
      transition: none;
    }
  }
  
  &__item-wrapper {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    max-width: 290px;
    width: 100%;
    
    
    &:hover {
      box-shadow: $box-shadow;
      transition: ease-in 0.16s;
    }
  }

  &__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
    padding-bottom: 20px;

    & > div {
      margin-top: 0px;
    }
  }
}


@media screen and (max-width: 1024px) {
  .splash-houseplants {
    &__ul-wrapper {
      grid-row-gap: 16px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__item-wrapper {
      max-width: 490px;
    }

    &__pic-wrapper {
      height: 390px;

      & > img {
        max-width: 490px;
        height: 390px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .splash-houseplants {
    &__ul-wrapper {
      grid-row-gap: 16px;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}