@import './root.scss';

.recommended {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;

  &__title-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    & > h1 {
      font-size: 16px;
      font-weight: 500;
      color: $grey-green;
    }
  }

  &__header-wrapper {
    width: 100%;
  }

  &__wrapper {
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  
  &__pic-wrapper {
    text-decoration: none;
    max-width: 280px;
    width: 100%;
    max-height: 170px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    &:hover {
      box-shadow: $box-shadow;
      transition: ease-in 0.16s;
    }
  }
  
  &__pic-link {
    max-width: 280px;
    width: 100%;
    max-height: 280px;
  }
  
  &__price-wrapper {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    margin-left: 10px;
    position: absolute;
    // margin-top: -114px;
    margin-top: -60%;
    padding: 6px;
    border-radius: 18px;
    z-index: 100;
    background-color: rgba(255,255,255, 0.7);
    border: 1px solid rgba(255,255,255, 0.8);
    width: fit-content;
    z-index: 5;
    
    & > p {
      color: $dark-green;
    }
  }
}